.nav-wrapper {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}
.nav-content {
    max-width: 1300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
}

.logo{
    width: 12rem;
    height: auto;
}

.nav-content ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.5rem;
}

.nav-content li {
    margin: 0 1.5rem;
}